.buensazon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    height: 100vh;
    max-height: 100%;
    gap: 1rem;
    padding: 2rem 1rem; 
    background-image: var(--background-app);
    position: relative;
    font-family: var(--font-app);
}

.navigation,.buensazon__content{
  height: 100%;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;  
}

.navigation__sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 100%;
  max-height: fit-content;
  overflow-y: auto;    
  background-color: var(--menu-back);
  border: 1px solid var(--details-back);
  border-radius: 5px;
  box-shadow: var(--box-shadow-dark);    
}

.navigation__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  list-style: none;
  padding: .25rem;
  gap: .25rem;  
}

.navigation__item{    
  cursor: pointer;  
}

.navigation__link{
  text-decoration: none;
  color: var(--color-text);  
  width: fit-content;
}

.navigation__icon.material-symbols-outlined {
  font-size: var(--size-navigation-icons);
}

.navigation__icon:hover{  
  color: var(--color-hover);
  text-shadow: .5px .5px .5px var(--acent-rgba);
  transition: all .1s ease-in-out;
  transform: scale(1.05);
}

.navigation__icon--logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-navigation-icons-logo);
  height: var(--size-navigation-icons-logo);
}

.navigation__icon--logo:hover{
  cursor:context-menu;
}

.navigation__icon--logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;  
}

.buensazon__content{
  width: 95%;
  background-color: var(--menu-back);
  border-radius: 5px;
  border: 1px solid var(--details-back);
  box-shadow: var(--box-shadow-dark);
  padding: 1rem;
  overflow-y: auto;
}

/* Media para telefonos standar 2025 */
@media (max-width: 768px) {
  .buensazon {
    flex-direction: column-reverse;
    padding: 1rem 2rem;
  }
  .navigation{
    height: fit-content;
  }
  .navigation,.buensazon__content {
    width: 100%;
  }
  .navigation__list {
    flex-direction: row; 
  }
}