
input,select,button{
    border: var(--form-element-border-size) var(--input-border-style) var(--form-element-border-color); /* Esto sera dinamico */
    border-radius: 3px;
    background-color: transparent;  
    color: var(--form-element-text-color);
    padding: 2px;
    background-color: var(--menu-back);
    font-size: var(--size-form-element);
}

/* input:valid,select:valid {
    border-color: var(--status-success);
    color: var(--status-success);
    outline: var(--status-success);
} */

/* No borrar lo comentado */
/* input:invalid:focus,
select:invalid:focus {
    border-color: var(--status-warning);    
    outline: var(--status-warning);
    color: var(--status-warning);
    caret-color: var(--status-warning);
} */

input::placeholder {
  color: var(--placesholder-text-color);  
}

input:focus,select:focus{
    outline-color: var(--focus-outline);
    color:  var(--focus-text-color);
    caret-color: var(--focus-caret);
    border-color: var(--focus-border-form-element);
}

input:focus::placeholder {
    color: var(--focus-placeholder);
}

select,::picker(select){
    appearance: base-select;
    font-size: var(--size-form-element);    
}


select::picker(select){
    border-color: var(--form-element-border-color);
    background-color: var(--menu-back);
}

select:hover{
    cursor: pointer;
}


select::picker-icon{
    color: var(--picker-form-element);
    transition: 0.4s transform;    
}

select:open{
    color: var(--focus-picker-form-element);
    border-color: var(--focus-picker-form-element);    
}

select:open::picker(select){
    border-color: var(--focus-picker-form-element);
    background-color: var(--menu-back);
}

select:open selectedcontent{
    border-color: var(--focus-picker-form-element);
}

select:open::picker-icon{
    color: var(--focus-picker-form-element);
    transform: rotate(180deg);
}

select option{
    outline: none;
}

select option:hover{
    background-color: var(--form-element-hover);
    color: var(--statys-void);
}

select option:checked{
    background-color: var(--form-element-hover);
    color: var(--statys-void);
}

select option::checkmark{    
    color: var(--statys-void);
    order: 1;
    content: '✔';
    position: absolute;
    right: 0;    
}
button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    cursor: pointer;
    color: var(--status-sent);
    border: var(--form-element-border-size) var(--input-border-style) var(--status-sent);
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

label{
    color: var(--form-element-text-color);
}
/* checkbox */
input[type="checkbox"] {
    width: 12px;
    height: 12px;
    cursor: pointer;
    appearance: none;
    border: 1px solid var(--form-element-border-color);
    border-radius: 3px;
    background-color: var(--menu-back);
}

input[type="checkbox"]:checked {
    background-color: var(--status-warning);
    border-color: var(--status-warning);
    padding: 0;
    margin: 0;
}

input[type="checkbox"]:checked::before {
    content: '✔';
    color: var(--status-void);
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Solo en modales no se puede aplicar */
dialog select {
    appearance: auto;
}





