@import url('./base/normalizeApp.css');
@import url('./base/clientUxUi.css');
@import url('./atoms/inputs.css');
@import url('./organisms/forms.css');
@import url('./atoms/containers.css');
@import url('./templates/modals.css');
@import url('./pages/supplies.css');
@import url('./pages/saucers.css');
@import url('./pages/orders.css');
@import url('./pages/user-management.css');
/* @import url('./templates/tables.css'); */
@import url('./templates/dialogsTable.css');

@view-transition{
  navigation: auto;
}
:root{
  --background-app: var(--back_raapidin);
  --menu-back: var(--menu-back_raapidin);
  --details-back: var(--details-back_raapidin);
  --acent-rgba: var(--acent-rgba_raapidin);
  --color-hover: var(--color-hover_raapidin);
  --box-shadow-dark: var(--box-shadow-dark-raapidin);
  --font-app: var(--font_raapidin);

  --size-navigation-icons: calc(clamp(1rem, 2.5vw, 2.25rem) * 1);
  --size-navigation-icons-logo: calc(clamp(1rem, 2.5vw, 2.25rem) * 1.5);

    /* Eventos visuales */
    --status-success: #28c76f;  
    --status-warning: #ff9f43;   
    --status-danger:  #ea5455;   
    --status-offline: #9e9e9e;   
    --status-sent:    #00cfe8;
    --status-void: #f9f9f9;
    --status-init: #000000B7;
    
    --hover-app-color: var(--status-sent);
    --focus-outline: var(--status-sent);
    --focus-text-color: var(--status-sent);
    --focus-caret: var(--status-sent);
    --focus-placeholder: var(--status-sent);
    --focus-picker-form-element: var(--status-sent);
    --focus-border-form-element: var(--status-sent);
    
    /* Atributos visuales por defecto */
    --form-element-text-color: var(--status-init);
    --input-placeholder-text-color: var(--status-offline); 
    --form-element-border-color: var(--status-init);
    --form-element-border-size: var(--input-borderSize-default);
    --form-element-hover: var(--hover-app-color);
    --input-border-style: var(--input-borderStyle-default);
    --picker-form-element: var(var(--status-offline));
    --size-form-element: clamp(0.9rem, 2vw, 1rem);
    --input-borderSize-default: 1.5px;
    --input-borderStyle-default: solid;
}

/* Configuraciones de cobra */
.hidden {
  display: none !important;
}

