.supplies__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  gap: .5rem;
}

.supplies__view {    
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    gap: 1rem;
}

.supplies__options {
    background-color: #ebebeb88;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    border-radius: 2px;
}

.supplies__options form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.supplies__options input,
.supplies__options select,
.supplies__options button {
    flex: 1;
    min-width: 120px;
}

.supplies__options button {
    background-color: var(--status-warning);
    color: var(--menu-back);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.supplies__options button:hover {
    background-color: var(--status-success);
}

.supplies__list {
    display: flex;
    flex-direction: column;
    flex: 1; /* Tomar todo el espacio restante disponible */
    min-height: 0;
    overflow: hidden;
}









