fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex: 1;
}

legend{
    font-weight: bold;
}

.form__row{
    display: flex;
    gap: .5rem;
}

.form__row .form__group{
    flex: 1;
}

.form__group{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-input{
    width: 100%;
}

/* Responsivo */
@media (max-width: 768px) {
    .form__row{
        flex-direction: column;
    }
}