<section class="orders">
    <h1>Pedido</h1>

    <form action="" style="display: inline-flex;">
        <div class="form-element">
            <label for="">Cliente</label>
            <select name="" id="">
                <option value="" disabled selected>Selecciona un cliente</option>
            </select>
        </div>
        <div class="form-element">
            <label for="">Direccion</label>
            <select name="" id="">
                <option value="" disabled selected>Selecciona una direccion</option>
            </select>
        </div>
        <div class="form-element">
            <label for="">Telefono</label>
            <select name="" id="">
                <option value="" disabled selected>Selecciona un telefono</option>
            </select>
        </div>
        <div class="form-element">
            <label for="">Comentarios</label>
            <input type="text">
        </div>
    </form>

</section>