<section class="orders">
    <h1>Pedido</h1>

    <form action="">
        <div class="form-element">
            <label for="">Cliente</label>
            <select name="" id="">
                <option value="" disabled selected>Selecciona un cliente</option>
            </select>
        </div>
        <div class="form-element">
            <label for="">Direccion</label>
            <select name="" id="">
                <option value="" disabled selected>Selecciona una direccion</option>
            </select>
        </div>
        <div class="form-element">
            <label for="">Telefono</label>
            <select name="" id="">
                <option value="" disabled selected>Selecciona un telefono</option>
            </select>
        </div>
        <div class="form-element">
            <label for="">Indicaciones</label>
            <input type="text">
        </div>

<!--         <figure class="ticket__preview">
            
        </figure> -->

        <figure class="msg__preview">
            <div class="whatsapp__container">
                <div class="whatsapp__head">
                    <ul>                        
                        <div class="whatsapp__head--user-info">
                            <li class="arrow-back"><span class="material-symbols-outlined">arrow_back</span></li>
                            <li class="user-circle"><img src="../../../public/assets/raapidin.png" alt=""></li>
                            <li>Raapidin</li>
                        </div>
                        <div class="whatsapp__head--user-actions">
                            <li><span class="material-symbols-outlined">videocam</span></li>
                            <li><span class="material-symbols-outlined">call</span></li>
                            <li><span class="material-symbols-outlined">more_vert</span></li>
                        </div>
                    </ul>
                </div>
                <div class="whatsapp__body">
                    <img src="../../../public/assets/back_whatsapp.jpg" alt="">
                </div>
                <div class="whatsapp__footer">
                    <div class="input__message">
                        <input class="input__message-input" type="text" placeholder="Mensaje">
                    </div>
                    <div class="sent-message">
                        <span class="material-symbols-outlined">mic</span>
                    </div>
                </div>
            </div>
        </figure>

  <!--       <figure class="map__address">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1892.182713496559!2d-103.25032577979181!3d20.648523207824365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b46b5ff6c5c9%3A0xd0d168e65c92eb!2sRafael%20Ram%C3%ADrez%20109%2C%20Basilio%20Badillo%2C%2045406%20Tonal%C3%A1%2C%20Jal.!5e0!3m2!1ses!2smx!4v1754173081064!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </figure> -->
    </form>

</section>