<!-- <section class="saucers">
    <h1>Productos</h1>
    
    <div class="saucer__container">
        <div class="saucer__main">
            <div class="saucer__content">
                
            </div>
            <aside class="saucer__preview">
                <article class="card card--preview">
                    <header class="card__header">
                        <h3>Básico</h3>
                    </header>
                    <div class="card__body">                
                        <figure class="card__figure">
                            <img src="../../../resources/img/products/single/rollo.png" alt="Rollo básico" loading="lazy">
                        </figure>
                        <div class="card__info">                        
                            <p class="card__detail"><strong>Nombre:</strong> Rollo</p>
                            <p class="card__detail"><strong>Precio:</strong> $15.00</p>                        
                        </div>
                    </div>                
                </article>          
            </aside>
        </div>
        <header class="saucer__header">
            <h2>Productos</h2>
            <button>Catalogo</button>
            <button>Tabla</button>
        </header>
        <section class="saucer__catalog">
            <div class="products__grid">
                <article class="card">
                    <header class="card__header">
                        <h3>Básico</h3>
                    </header>
                    <div class="card__body">                
                        <figure class="card__figure">
                            <img src="../../../resources/img/products/single/rollo.png" alt="Rollo básico" loading="lazy">
                        </figure>
                        <div class="card__info">                        
                            <p class="card__detail"><strong>Nombre:</strong> Rollo</p>
                            <p class="card__detail"><strong>Precio:</strong> $15.00</p>                        
                        </div>
                    </div>                
                </article>
                <article class="card">
                    <header class="card__header">
                        <h3>Básico</h3>
                    </header>
                    <div class="card__body">                
                        <figure class="card__figure">
                            <img src="../../../resources/img/products/single/rollo.png" alt="Rollo básico" loading="lazy">
                        </figure>
                        <div class="card__info">                        
                            <p class="card__detail"><strong>Nombre:</strong> Rollo</p>
                            <p class="card__detail"><strong>Precio:</strong> $15.00</p>                        
                        </div>
                    </div>                
                </article>                
                <article class="card">
                    <header class="card__header">
                        <h3>Básico</h3>
                    </header>
                    <div class="card__body">                
                        <figure class="card__figure">
                            <img src="../../../resources/img/products/single/rollo.png" alt="Rollo básico" loading="lazy">
                        </figure>
                        <div class="card__info">                        
                            <p class="card__detail"><strong>Nombre:</strong> Rollo</p>
                            <p class="card__detail"><strong>Precio:</strong> $15.00</p>                        
                        </div>
                    </div>                
                </article>
                <article class="card">
                    <header class="card__header">
                        <h3>Básico</h3>
                    </header>
                    <div class="card__body">                
                        <figure class="card__figure">
                            <img src="../../../resources/img/products/single/rollo.png" alt="Rollo básico" loading="lazy">
                        </figure>
                        <div class="card__info">                        
                            <p class="card__detail"><strong>Nombre:</strong> Rollo</p>
                            <p class="card__detail"><strong>Precio:</strong> $15.00</p>                        
                        </div>
                    </div>                
                </article>
                <article class="card">
                    <header class="card__header">
                        <h3>Básico</h3>
                    </header>
                    <div class="card__body">                
                        <figure class="card__figure">
                            <img src="../../../resources/img/products/single/rollo.png" alt="Rollo básico" loading="lazy">
                        </figure>
                        <div class="card__info">                        
                            <p class="card__detail"><strong>Nombre:</strong> Rollo</p>
                            <p class="card__detail"><strong>Precio:</strong> $15.00</p>                        
                        </div>
                    </div>                
                </article>
                <article class="card">
                    <header class="card__header">
                        <h3>Básico</h3>
                    </header>
                    <div class="card__body">                
                        <figure class="card__figure">
                            <img src="../../../resources/img/products/single/rollo.png" alt="Rollo básico" loading="lazy">
                        </figure>
                        <div class="card__info">                        
                            <p class="card__detail"><strong>Nombre:</strong> Rollo</p>
                            <p class="card__detail"><strong>Precio:</strong> $15.00</p>                        
                        </div>
                    </div>                
                </article>
                <article class="card">
                    <header class="card__header">
                        <h3>Básico</h3>
                    </header>
                    <div class="card__body">                
                        <figure class="card__figure">
                            <img src="../../../resources/img/products/single/rollo.png" alt="Rollo básico" loading="lazy">
                        </figure>
                        <div class="card__info">                        
                            <p class="card__detail"><strong>Nombre:</strong> Rollo</p>
                            <p class="card__detail"><strong>Precio:</strong> $15.00</p>                        
                        </div>
                    </div>                
                </article>                                                                                
            </div>                                                                   
        </section>
    </div>
</section> -->
