<section class="supplies__container">
    <h1 class="supplies__title">Lista de Insumos</h1>

    <div class="supplies__view">
        <aside class="supplies__options">
            <form method="post">                          
                <input required type="text" name="nombre" id="nombre" placeholder="Nombre indusumo">
                <div class="form-cb">
                    <label for="nueva_unidad_check">* Nueva unidad</label>
                    <input type="checkbox" name="nueva_unidad_check" id="nueva_unidad_check">
                </div>
                <input type="text" name="nueva_unidad" id="nueva_unidad" placeholder="Nueva unidad">
                <select name="unidad" id="unidad" required>
                    <option value="" disabled selected>Selecciona una unidad</option>                    
                </select>
                <input required type="number" name="costo_unitario" id="costo_unitario" placeholder="Costo" min="1">
                <input required type="number" name="stock" id="stock" placeholder="Cantidad" min="1">
                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
        </aside>
        <section class="supplies__list">
            <table id="supplies-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Unidad</th>
                        <th>Costo</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody id="supplies-tbody"></tbody>
            </table>
        </section>                        
        </section>
    </div>
</section>
