:root {  
  /* --Rapidin */
  --back_raapidin: linear-gradient(to right top, #d2582f, #bc6f37, #f19429, #998868);
  --color-hover_raapidin: #f19429;
  --menu-back_raapidin: #fff;
  --details-back_raapidin: #ccccccbe;
  --acent-rgba_raapidin: rgba(0, 0, 0, 0.87);
  --box-shadow-dark-raapidin: 0 0 10px rgba(7, 7, 7, 0.644);
  --box-shadow-light-raapidin: 0 0 10px rgba(238, 236, 236, 0.664);
  --font_raapidin: 'Poppins', sans-serif;
}